/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

.button1 {
  border-radius: 25px;
}

.button2 {
  background-color: grey;
  color: white;
  border-radius: 25px;
}


.button3 {
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  border-bottom-color: violet;
  border-top-color: cadetblue;
  border-left-color: grey;
  border-left-color: beige;
  border-width: 10px;


}




.button4 {
  border-width: 10px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px blue;

}
.button4:hover {

  border-width: 10px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px rgb(68, 255, 0);
  color: rgb(180, 238, 130);
  background-color: black;




}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  /* Style me! Change my border, set a border radius or try out other styles. :) */
}

.button2 {
  /* Style me! Change my color or background-color, or both! You can experiment with different color formats here, like HEX, RGB, etc. */
}

.button3 {
  /* Style me! You can test out changing the font, font size, ...*/
}

.button4 {
  /* Style me! Can you add a shadow to this button? Try playing around with shadow properties - you can even change the shadow color, size, and more. */
}

/* Feel free to play around with other properties, too. */